<footer class="text-center bg-body-tertiary">
  <div class="container pt-4">
    <section class="mb-4">
      <!-- Facebook -->
      <a
        data-mdb-ripple-init
        class="btn btn-link btn-floating btn-lg text-body m-1"
        href="#!"
        role="button"
        data-mdb-ripple-color="dark"
      ><i class="fa-facebook-f">
        <fa-icon [icon]="faFacebook"></fa-icon>
      </i
      ></a>

      <!-- Twitter -->
      <a
        data-mdb-ripple-init
        class="btn btn-link btn-floating btn-lg text-body m-1"
        href="#!"
        role="button"
        data-mdb-ripple-color="dark"
      ><i class="fa-twitter">
        <fa-icon [icon]="faTwitter"></fa-icon>
      </i>
      </a>

      <!-- Instagram -->
      <a
        data-mdb-ripple-init
        class="btn btn-link btn-floating btn-lg text-body m-1"
        href="#!"
        role="button"
        data-mdb-ripple-color="dark"
      ><i class="fa-instagram">
        <fa-icon [icon]="faInstagram"></fa-icon>
      </i>
      </a>

      <!-- Linkedin -->
      <a
        data-mdb-ripple-init
        class="btn btn-link btn-floating btn-lg text-body m-1"
        href="#!"
        role="button"
        data-mdb-ripple-color="dark"
      ><i class="fa-linkedin">
        <fa-icon [icon]="faLinkedin"></fa-icon>
      </i
      ></a>
      <!-- Github -->
      <a
        data-mdb-ripple-init
        class="btn btn-link btn-floating btn-lg text-body m-1"
        href="#!"
        role="button"
        data-mdb-ripple-color="dark"
      ><i class="fa-github">
        <fa-icon [icon]="faGithub"></fa-icon>
      </i
      ></a>
    </section>
  </div>
  <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.05);">
    © 2024 Copyright: Romulo Master Front :) 🚀🚀
  </div>
</footer>
